*
{padding:0;
margin: 0;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 

}

body{
	background-image: url("abood2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
height:100vh;
};
.contner{max-width:1300px;}

header{width:auto;
overflow: auto;
margin-top: 2%; }

.logo{float:left;}

.logo h2{color:#fff;
margin-left: 20px; }

nav{float:right;}

nav ul{width:auto;
overflow: auto;}
nav ul li{display:inline;
	list-style: none;
padding: 5px 15px;
}
nav ul li:hover{ border:1px solid #fff}


nav ul .activ{border:1px solid #fff }


nav ul li a{text-decoration:none;
color:#fff;
font-size:18px;
 }
 .text{margin-top:18% }
 .text h1{color:#fff;
 	text-align: center;
 	font-size: 30px;}
 	.button{margin-left:40% 
 		margin-top:20px;}
 	
 	button{width:120px;
 		height:40px;
 		border:1px solid #fff ;
 		margin-right: 20px; }
 	button a{text-decoration:none;
 		font-size: 15px;
 		color: #000;}
 	.b1{background:#0894e3;
 		border:1px solid #0894e3;
 		  }
 		  .b1 a{color: #fff;}
 		  .b2:hover{background:#0894e3;
 		border:1px solid #0894e3;}

 			
 		